# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
dist-ssr/
*.local

# Environment Variables (CRITICAL: DO NOT DELETE)
.env
.env.development
.env.production
.env.local
.env.*.local

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Design Assets
1design/
designs_raw/
*.png
*.jpg
*.jpeg
*.svg
!frontend/src/assets/**/*
!frontend/public/**/*

a_wordle_folder/
a_wordle_folder/comp_wordle_design
a_wordle_folder/nytimes_wordle
a_wordle_folder/old_comp_wordle

backend/.env